<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="URL_OR_PATH_TO_CSV" value="{Provide the default CSV URL here}"/>
    <add key="TOKEN" value="{Provide your own secret Token here}"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>